NEXT_PUBLIC_SITE_URL=http://capoeira.booktolife.com.br
FIREBASE_PROJECT_ID=capoeira-17aee
FIREBASE_STORAGE_BUCKET=capoeira-17aee.firebasestorage.app
FIREBASE_CREDENTIALS_PATH=./secrets/firebase-admin-credentials.json
